/* .flex-container {
  display: flex;
  align-items: center;
} */
body{
  background-color: whitesmoke;

}
.container {
  margin:auto;
  width:280px;
  text-align: center;
  height:100vh;
}

input {
  width:200px;
}

.deck {
  background-color: ghostwhite;
  margin:8px;
  height:125px;
  width:100%;
  border-radius:12px;
  box-shadow: 0 8px 12px 6px rgba(0,0,0,0.12);
  margin-top:20px;
  padding-bottom:20px;
}

 .view {
  height:225px !important;
  margin-bottom:55px;
}
.deck-title {
  padding-top:20px;
  font-size:22px;
  font-weight: 900;
}

.deck-title, .deckview {
  margin-top:50px;
}

.cards-to-review {
  margin-top:-10px;
  font-size:13px;
  color:forestgreen;
  font-weight:600;
}

.btn {
  color:white;
  font-size:14px;
  font-weight:600;
  height:35px;
  width:110px;
  border-radius:12px;
  padding:5px;
}

.deck-btn {
  background-color:#043f83;
  text-decoration: none;
}

.no-cards-btn {
  background-color: rgb(173, 168, 168);
}

.quiz-btn { 
  background-color:#043f83;
  text-decoration: none;
  margin-top:30px;
  height:50px;
  width:150px;
}

.refresh-btn {
  margin-top:30px;
  background-color: #62A87C;
}

.cancel-btn {
  margin-top:20px;
  background-color: rgb(192, 54, 45);
  margin-left:15px;
}

.navbar {
  height:30px;
  background-color:rgb(173, 168, 168);
  position: sticky;
  top:0;
  display:flex;
}

.navbar a {
  color: black;
  font-weight:800;
  margin-left:30px;
  padding-top:5px;
}

textarea {
  height: 80px;
  width: 230px;
}

.new-deck {
  height:45px;
  font-size:28px;
  font-weight:700;
}

.deckname-selector {
  width:230px;
  height:25px;
}

.add-card-success {
  margin-top:30px;
  background-color: #62A87C;
  color:white;
  width:80%;
  font-size:20px;
  border-radius:20px;
  margin:auto;
}

.emoji {
  font-size:56px;
}

.wrong {
  background-color: rgb(192, 54, 45);
}

.easy {
  background-color: #62A87C;
}

.very-easy {
  background-color: rgb(0, 88, 15);
}

.answers {
  display: flex;
}

.recto-verso {
  background-color: whitesmoke;
  color:black; 
}